// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$body-bg-2: #fff;
$body-bg-3: #fff;
$body-bg-4: #fff;
$body-bg-5: #fff;

$primary: #b27dff;


// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "helpers";

// Utilities
@import "bootstrap/scss/utilities/api";



.dark {

    /* redefine theme colors for dark theme */
    $primary: $white;
    $secondary: $purple-300;
    $dark: #000;
    $error: #e3342f;

    $body-color: #eeeeee;
    $body-bg: #121212;
    $body-bg-2: #1d1d1d;
    $body-bg-3: #212121;
    $body-bg-4: #242424;
    $body-bg-5: #272727;
    $body-bg-6: #2a2a2a;
    $body-bg-7: #2d2d2d;

    $nav-link-hover-color: $body-bg-2;
    $modal-content-bg: $body-bg-4;
    $offcanvas-bg-color: $body-bg-4;
    $list-group-bg: $body-bg-4;
    $input-bg: $body-bg-3;
    $input-focus-bg: $body-bg-3;
    $input-color: $primary;
    $input-focus-color: $primary;
    $input-group-addon-color: $primary;
    $input-group-addon-bg: $primary;
    $component-active-color: $body-bg-2;
    $component-active-bg: $primary;
    $dropdown-bg: $body-bg-4;
    $dropdown-color: $primary;
    $dropdown-link-color: $secondary;
    $popover-bg: $body-bg-2;

    $link-color: $primary;
    $link-hover-color: $secondary;

    $list-group-color:  $primary;

    $modal-header-border-color:         #2a2a2a;
    $modal-footer-border-color:         #2a2a2a;

    /* dark mode accordion values */

    $accordion-padding-y:                     1rem !default;
    $accordion-padding-x:                     1.25rem !default;
    $accordion-color:                         white;
    $accordion-bg:                            #121212;
    $accordion-border-width:                  $border-width !default;
    $accordion-border-color:                  rgba($black, .125) !default;
    $accordion-border-radius:                 $border-radius !default;
    $accordion-inner-border-radius:           subtract($accordion-border-radius, $accordion-border-width) !default;

    $accordion-body-padding-y:                $accordion-padding-y !default;
    $accordion-body-padding-x:                $accordion-padding-x !default;

    $accordion-button-padding-y:              $accordion-padding-y !default;
    $accordion-button-padding-x:              $accordion-padding-x !default;
    $accordion-button-color:                  #b27dff;
    $accordion-button-bg:                     #121212;
    $accordion-transition:                    $btn-transition, border-radius .15s ease !default;
    // $accordion-button-active-bg:              tint-color($body-bg-2, 90%);
    $accordion-button-active-bg:              $body-bg-2;
    $accordion-button-active-color:           white;

    $accordion-button-focus-border-color:     $input-focus-border-color !default;
    $accordion-button-focus-box-shadow:       $btn-focus-box-shadow !default;

    $accordion-icon-width:                    1.25rem !default;
    $accordion-icon-color:                    $accordion-button-color !default;
    $accordion-icon-active-color:             $accordion-button-active-color !default;
    $accordion-icon-transition:               transform .2s ease-in-out !default;
    $accordion-icon-transform:                rotate(-180deg) !default;

    /* dark mode accordion values */


    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "error": $error,
        "info": $indigo,
        "dark": $dark,
        "light": $light,
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};

    $input-border-color: #686868;


    $border-color: rgb(29, 29, 29);


.bg-1 {
    background-color: $body-bg;
}
.bg-2 {
    background-color: $body-bg-2;
}
.bg-3 {
    background-color: $body-bg-3;
}
.bg-4 {
    background-color: $body-bg-4;
}
.bg-5 {
    background-color: $body-bg-5;
}

// Required
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

//Generate utilites for Cursor
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
    "border-color": (
      property: border-color,
      class: border,
      values: map-merge($theme-colors, ("white": $white))
    ),
  )
);


@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
// @import "bootstrap/scss/placeholders";

// Helpers
// @import "helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

// @import "bootstrap/scss/bootstrap";



#load-more-clips-btn {
    -webkit-animation: slg_dark_button_flash 1500ms infinite;
    -moz-animation: slg_dark_button_flash 1500ms infinite;
    -o-animation: slg_dark_button_flash 1500ms infinite;
    animation: slg_dark_button_flash 1500ms infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes slg_dark_button_flash {
    0% { background-color: #9147ff; -webkit-box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; -webkit-box-shadow: 0 0 20px -5px #9147ff; }
    100% { background-color: #9147ff; -webkit-box-shadow: 0 0 3px #9147ff; }
  }
  @-moz-keyframes slg_dark_button_flash {
    0% { background-color: #9147ff; -moz-box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; -moz-box-shadow: 0 0 20px -5px #9147ff; }
    100% { background-color: #9147ff; -moz-box-shadow: 0 0 3px #9147ff; }
  }

  @-o-keyframes slg_dark_button_flash {
    0% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; box-shadow: 0 0 20px -5px #9147ff; }
    100% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
  }

  @keyframes slg_dark_button_flash {
    0% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; box-shadow: 0 0 20px -5px #9147ff; }
    100% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
  }

}

// //
// // Custom styles
// //

.bg-1 {
    background-color: $body-bg;
}
.bg-2 {
    background-color: $body-bg-2;
}
.bg-3 {
    background-color: $body-bg-3;
}
.bg-4 {
    background-color: $body-bg-4;
}
.bg-5 {
    background-color: $body-bg-5;
}


//    // @import "bootstrap";
// }



@import "icon-list";



body {
    transition: background-color 1s ease, color 1s ease;
}
nav {
    transition: background-color 1s ease, color 1s ease;
}
header {
    transition: background-color 1s ease, color 1s ease;
}
footer {
    transition: background-color 1s ease, color 1s ease;
}





// Style Bootstrap icons
.bi {
  fill: currentColor;
}

.button-1 {
    color: #fff !important;
    background-color: #9147ff !important;
    background-image: var(--bs-gradient) !important;
    border-color: #9147ff !important;
    // box-shadow: inset 0 1px 0 rgb(255 255 255 / 15%), 0 1px 1px rgb(0 0 0 / 8%) !important;
}

.button-1:hover {
    color: #fff !important;
    background-color: #734dbb !important;
    background-image: var(--bs-gradient) !important;
    border-color: #6c48b0 !important;
}


#load-more-clips-btn {
    -webkit-animation: slg_flash 1500ms infinite;
    -moz-animation: slg_flash 1500ms infinite;
    -o-animation: slg_flash 1500ms infinite;
    animation: slg_flash 1500ms infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes slg_flash {
    0% { background-color: #9147ff; -webkit-box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; -webkit-box-shadow: 0 0 40px #9147ff; }
    100% { background-color: #9147ff; -webkit-box-shadow: 0 0 3px #9147ff; }
  }
  @-moz-keyframes slg_flash {
    0% { background-color: #9147ff; -moz-box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; -moz-box-shadow: 0 0 40px #9147ff; }
    100% { background-color: #9147ff; -moz-box-shadow: 0 0 3px #9147ff; }
  }

  @-o-keyframes slg_flash {
    0% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; box-shadow: 0 0 40px #9147ff; }
    100% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
  }

  @keyframes slg_flash {
    0% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
    50% { background-color: #9147ff; box-shadow: 0 0 40px #9147ff; }
    100% { background-color: #9147ff; box-shadow: 0 0 3px #9147ff; }
  }